<!doctype html>
<html lang="en">
    <head>
        <title>{{ course.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/ltibootcamp.css">
    </head>
    <body>
        <div class="container">
            <h1>
                <img src="/assets/bootcamp_transparent.png">{{ course.context['title'] }}
                <a class="btn btn-outline-secondary" href="/course/{{course.id}}">content</a>
            </h1>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        {% for li in course.lineitems%}
                        <th scope="col">{{ li.label }} ({{ li.score_maximum }} pts)</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in course.roster.students%}
                        <tr>
                            <th scope="row">{{ member.user.fullname }}</th>
                            {% for li in course.lineitems%}
                            <td>{{li.getScaledResult(member.user.id)}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            </div>
        </div>


    </body>
</html>
